<!-- <!DOCTYPE html>
<html>

<body>
    <header>
        <f:render partial="Header/Header" arguments="{mainnavigation: mainnavigation}" />
    </header>

    <div class="ce-hero-element-container">

        <div class="ce-hero-element-header">
            <h6>Das Haus des Forderungsmanagement</h6>
        </div>
        <div class="ce-hero-element-image">
            <img src="../../../../../../../../fileadmin/Images/CeHeroElement.JPG">
        </div>
        <div class="ce-hero-element-description">
            <p>Im BDIU organisieren sich rund 550 Unternehmen aus dem Bereich Forderungsmanagement.
                Sie unterliegen der strengen Aufsicht des Verbands.
                Das stellt eine gewissenhafte, ordnungsgemäße und redliche Inkasso-Berufsausübung sicher</p>
        </div>
    </div>
    <f:render partial="Footer/Footer" />
    <f:comment>
        <f:render section="Main" />
    </f:comment>
</body>

</html> -->