<footer>
    <div class="container">
        <div class="row">
            <div class="col col-8">
                <div class="newsletter">
                    <img class="logo-subline" src="{settings.bdiuLogoSubline}" />

                    <div class="newsletter-container">
                        <h6 class="newsletter-heading">Newsletter Anmeldung</h6>

                        <div class="newsletter-email-card">
                            <input type="email" class="newsletter-email">
                            <div class="separator"></div>
                            <input type="submit" class="newsletter-submit" value="ANMELDEN">
                        </div>

                        <div class="checkbox-container">
                            <input type="checkbox">
                            <label class="checkbox-label">Datenschutz akzeptieren</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <img class="dia-image" src="{settings.imageDIA}">

                <img class="dia-logo" src="{settings.diaLogo}">

                <h4 class="dia-heading">Fachlehrgang für Forderungsmanagement</h4>

                <div class="dia-cta-card">
                    <input class="dia-cta-submit" type="submit" value="ZUR AKADEMIE">
                    <img class="dia-cta-icon" src="{settings.ExternalLinkIcon}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-4">
                <p class="BundesverbandText">
                    Bundesverband Deutscher Inkasso-Unternehmen e.V. <br>
                    Friedrichstraße 50-55 <br>
                    10117 Berlin <br>
                    <br><br>
                    Telefon: +49 30 206 07 36-0 <br>
                    Telefax: +49 30 206 07 36-33 <br>
                </p>
                <div class="socialMediaIcons"></div>
                <p class="socialMediaText">Social Media</p>
                <img class="twitter icon" src="{settings.twitter}" />
                <img class="xing icon" src="{settings.xing}" />
                <img class="linkedin icon" src="{settings.linkedin}" />
            </div>
            <div class="col col-8">
                <div class="membershipDirection">
                    <p class="memberShipText">Unsere Mitgliedschaften:</p>
                    <div class="membershipImage">
                        <img class="sizeImageMemberShip" src="{settings.logoFenca}" />
                        <img class="sizeImageMemberShip" src="{settings.logoSelbsregulierung}" />
                        <img class="sizeImageMemberShip" src="{settings.Netzwerk_Europ}" />
                    </div>
                    <div class="memberShipImageBgaWetwerb">
                        <img class="sizeImageMemberShip" src="{settings.logoBga}" />
                        <img class="sizeImageMemberShip" src="{settings.logoWettbewerb}" />
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="base-footer">
        <div class="container">
            <p>© BDIU 2020</p>
            <p>Impressum | Datenschutz | Nutzungshinweis</p>
        </div>
    </div>
</footer>