nav {
  background-color: #f7f8f8;
  padding: 24px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

img.logo {
  height: 32px;
}

img.icon {
  height: 16px;
  width: 16px;
}

p.lang {
  height: 15px;
  width: 48px;
  color: #52565F;
  font-family: "Gill Sans Medium";
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
}

hr {
  height: 2px;
  background-color: #82B4C3;
  border-style: none;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

a {
  font-family: 'Gill Sans Medium';
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #5F696B;
}

button {
  background-color: #41646E;
  border-style: none;
  color: white;
  padding: 12px 24px;
  border-radius: 0 0 4px 4px;
  font-family: 'Gill Sans Medium';
  font-size: 12px;
  text-transform: uppercase;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.active {
  border-bottom: 8px solid #af2a2a;
}

@font-face {
  font-family: 'Gill Sans Regular';
  src: url(../Fonts/GillSansRegular.otf);
}

@font-face {
  font-family: 'Gill Sans Medium';
  src: url(../Fonts/GillSansMedium.otf);
}

@font-face {
  font-family: 'Gill Sans Bold';
  src: url(../Fonts/GillSansBold.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  background-color: #5F696B;
  bottom: 0;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1140px;
  margin: auto;
  padding: 24px 0;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.col {
  border-radius: 8px;
  width: 100%;
  height: 256px;
}

.col-8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  width: 100%;
}

.col-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 100%;
  position: relative;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  border-radius: 8px;
  border: 1px solid #d0d1d4;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 40px;
  height: 100%;
}

.logo-subline {
  height: 56px;
}

.newsletter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.newsletter-heading {
  color: white;
  font-family: 'Gill Sans Bold';
  font-size: 16px;
  font-weight: 500;
}

.newsletter-email-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 16px;
  padding: 16px 24px;
  background-color: white;
  border-radius: 8px;
}

.newsletter-email,
.newsletter-submit {
  background-color: transparent;
  color: #006982;
  font-family: 'Gill Sans Medium';
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
}

.separator {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 28px;
  width: 1px;
  border: 1px solid #CDD5EA;
}

.checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.checkbox-label {
  color: white;
  font-family: 'Gill Sans Medium';
  font-size: 14px;
  font-weight: 500;
}

.dia-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.dia-logo {
  position: absolute;
  height: 56px;
  top: 24px;
  left: 24px;
}

.dia-heading {
  position: absolute;
  top: 50%;
  left: 24px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Gill Sans Bold';
  font-size: 20px;
  font-weight: 600;
}

.dia-cta-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 16px 24px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  gap: 16px;
  width: 216px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.dia-cta-submit {
  border: none;
  outline: none;
  color: #006982;
  font-family: 'Gill Sans Medium';
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}

.BundesverbandText {
  width: 100%;
  color: #FCFCFC;
  font-family: "Gill Sans Medium";
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
  padding-top: 49px;
}

.socialMediaText {
  height: 18px;
  width: auto;
  color: #FCFCFC;
  font-family: "Gill Sans";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}

.socialMediaIcons {
  padding-bottom: 55px;
}

.membershipDirection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.memberShipText {
  height: 15px;
  width: 165px;
  color: #E7EBF4;
  font-family: "Gill Sans";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
  padding-top: 49px;
}

.membershipDirection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sizeImageMemberShip {
  height: 20%;
  width: 20%;
}

.membershipImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10%;
}

.memberShipImageBgaWetwerb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10%;
}

.base-footer {
  margin-top: 16px;
  background-color: #293639;
}

.base-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.base-footer .container p {
  color: white;
  font-family: 'Gill Sans Medium';
  font-size: 16px;
  font-weight: 500;
}

.linkedin {
  height: 16px;
  width: 17.01px;
  margin: 10px 10px 11px 10px;
}

.twitter {
  height: 17px;
  width: 21.01px;
  margin: 10px 10px 10px 10px;
}

.xing {
  height: 20px;
  width: 17.01px;
  margin: 10px 10px 10px 10px;
}

.body {
  background-color: red;
}

.body::after {
  background-color: blue;
}

.ce-hero-element-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ce-hero-element-container > .ce-hero-element-header {
  height: 98px;
  width: 613px;
  color: #41646E;
  font-family: "Gill Sans Medium";
  font-size: 41px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 49px;
  padding-left: 386px;
}

.ce-hero-element-container > .ce-hero-element-image {
  margin-right: 10px;
}

.ce-hero-element-container > .ce-hero-element-image > .image {
  width: 80%;
  height: 80%;
}

.ce-hero-element-container > .ce-hero-element-description {
  height: 200px;
  width: 800px;
  color: #5F696B;
  font-family: "Gill Sans Medium";
  font-size: 21px;
  letter-spacing: 0;
  margin-left: 390px;
}

.ceFooterTeaser {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ceFooterTeaser > .imageTeaser {
  width: 100%;
  height: 290px;
}

.ceFooterTeaser > .logo-title-link {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d8d5d5;
  left: 390px;
  width: 214px;
  height: 290px;
}

.ceFooterTeaser > .logo-title-link > .logo {
  height: 81px;
  padding-top: 11px;
}

.ceFooterTeaser > .logo-title-link > .header-ce-teaser {
  color: #006982;
  padding: 35px 5px 5px 5px;
  font-size: 22px;
  font-weight: 500;
  margin-left: 13px;
}

.ceFooterTeaser > .logo-title-link > .link-teaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 180px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  margin-left: 13px;
}

.ceFooterTeaser > .logo-title-link > .link-teaser > .arrow::before {
  content: '\2192';
  margin-left: 56px;
  font-size: 20px;
  color: #006982;
}

.ceFooterTeaser > .logo-title-link > .link-teaser > .link-teaser-text {
  color: #006982;
}

.ceFooterTeaser > .evenInfo {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 630px;
  top: 14px;
}

.ceFooterTeaser > .evenInfo > .evenInfo-date {
  color: white;
}

.ceFooterTeaser > .evenInfo > .evenInfo-title {
  height: 118px;
  width: 601px;
  color: #F5DC50;
  font-family: "Gill Sans Medium";
  font-size: 51px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 59px;
  text-shadow: 0 4px 8px 0 #006982;
}

.containerTeaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1140px;
  margin: auto;
  padding: 24px 0;
}

.containerTeaser > .inline-element {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
}

.containerTeaser > .inline-element > .inlineGridItem {
  width: 100%;
}

.containerTeaser > .inline-element > .inlineGridItem .image-inline {
  width: 100%;
  height: 256px;
  -o-object-fit: cover;
     object-fit: cover;
}

.containerTeaser > .inline-element > .inlineGridItem .inline-grid-item-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 16px;
  background-color: white;
  position: relative;
}

.containerTeaser > .inline-element > .inlineGridItem .inline-grid-item-footer .box-icon {
  width: 50px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.containerTeaser > .inline-element > .inlineGridItem .inline-grid-item-footer .box-icon .inline-element-link {
  color: white;
  font-size: larger;
}
